@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* { box-sizing: border-box; }

$small-screen: "(max-width: 500px)";
$big-screen: "(min-width: 1300px)";




.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
//makes 12 col layout
@mixin col($cols){
  width: (($cols/12)*100+0%);
  text-align: center;
  //can change height
  //can change margin
  border: 2px solid black;
  margin-top: 5px;
 
  }

.col-1{
  @include col(1);
  background-color: orange;
}
.col-2{
  @include col(2);
  background-color: purple;
}

.col-3{
  @include col(3);
  background-color: red;
}
.col-4{
  @include col(4);
  background-color: yellow; 
  
}.col-5{
  @include col(5);
  background-color: pink;
}.col-6{
  @include col(6);
  background-color: gray;
}
.col-7{
  @include col(7);
  background-color: brown;
}.col-8{
  @include col(8);
  background-color: darken(grey, 10%);
}
.col-9{
  @include col(9);
  background-color: blue;
}
.col-10{
  @include col(10);
  background-color: darken(orange, 10%);
}.col-11{
  @include col(11);
  background-color: lighten(blue, 10%);
}.col-12{
  @include col(12);
  background-color: darken(green, 10%);
}


