@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* {
  box-sizing: border-box; }

/*custom framework*/
/*breakpoints*/
/*makes 12 col layout*/
.col-1 {
  width: 8.33333%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-2 {
  width: 16.66667%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-3 {
  width: 25%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-4 {
  width: 33.33333%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-5 {
  width: 41.66667%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-6 {
  width: 50%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-7 {
  width: 58.33333%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-8 {
  width: 66.66667%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-9 {
  width: 75%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-10 {
  width: 83.33333%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-11 {
  width: 91.66667%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-12 {
  width: 100%;
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: .8; }

@media (max-width: 576px) {
  .small-screen-stack {
    width: 100%; } }

@media (max-width: 768px) {
  .medium-screen-stack {
    width: 100%; } }

@media (max-width: 992px) {
  .large-screen-stack {
    width: 100%; } }

@media (max-width: 1200px) {
  .extra-large-screen-stack {
    width: 100%; } }

/*end custom framework*/
/*colors*/
/*generic html elements*/
body {
  font-size: calc(16px + 1vmax);
  background-color: grey;
  font-family: 'Roboto', sans-serif;
  background-color: #E0E0E0;
  line-height: 1.1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

section {
  visibility: hidden;
  margin: 0 auto;
  width: 90vw;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 15px 0px black; }

figure {
  visibility: hidden;
  margin-top: 50px; }

/*end generic html elements*/
/*form*/
.airport-form-row {
  height: 10vh;
  margin-top: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 576px) {
    .airport-form-row {
      height: 10vmax; } }

#airport-form-input {
  height: 10vh;
  font-size: 3vh; }
  #airport-form-input:valid {
    text-transform: uppercase; }
  @media (max-width: 576px) {
    #airport-form-input {
      height: 10vmax; } }

#airport-form-submit {
  height: 10vh;
  font-size: 3vh;
  background-color: gray; }

/*end form*/
.airport-heading-row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden; }

.general {
  background-color: rgba(255, 255, 102, 0.5); }

.temperature {
  background-color: rgba(162, 103, 121, 0.5); }

.flight-rules {
  background-color: rgba(149, 165, 183, 0.5); }

.cloud {
  background-color: rgba(118, 182, 254, 0.5); }

.wind {
  background-color: rgba(0, 82, 15, 0.5); }

.raw-metar-container {
  background-color: rgba(149, 165, 183, 0.5); }

.raw-taf-container {
  background-color: rgba(118, 182, 254, 0.5); }

.cloud-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.wind-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.loading {
  display: none; }

/*radar and raw report*/
.radar-section {
  border: none;
  box-shadow: none; }

.weather-radar-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 576px) {
    .weather-radar-row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

#radar-image {
  width: 293px;
  height: 213px;
  cursor: pointer;
  align-self: flex-start; }

.double-sized-radar {
  width: 90vw !important;
  height: 65vw !important;
  margin: 0 auto; }

/*end radar and raw report*/
/*empty-state*/
.sky-container {
  background-color: rgba(118, 182, 254, 0.5);
  width: 100vw;
  padding-top: 10px; }

.cloud-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 30px;
  color: grey;
  font-size: 10vmax;
  opacity: .5; }

.cloud-layer-1 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.sun-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px;
  color: rgba(255, 255, 102, 0.5);
  font-size: 10vmax;
  opacity: .5; }
  .sun-container .sun-icon {
    color: #ffff66;
    text-shadow: 0px 0px 20px rgba(255, 255, 102, 0.5); }
  .sun-container .thermometer-icon {
    color: #990000;
    font-size: 5vmax; }

.airplane-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  opacity: .5; }

.airplane-icon {
  color: #3a3b3b;
  font-size: 7vmax !important;
  margin-left: 20vw;
  margin-right: 20vw;
  line-height: 0 !important; }

.rain-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: .5; }

.rain-container-1 {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.rain-container-2 {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.snow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.empty-state-heading-row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3vh; }

.empty-state-p-row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5; }

/*end empty-state*/
/*manipulator classes*/
.visibility-hidden {
  visibility: hidden; }

.display-none {
  display: none; }

/*# sourceMappingURL=style.css.map */
