@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* { box-sizing: border-box; }


//breakpoints
$small-screen: "(max-width: 576px)";
$medium-screen: "(max-width: 768px)";
$large-screen: "(max-width: 992px)";
$extra-large-screen: "(max-width: 1200px)";

//makes 12 col layout
@mixin col($cols) {
  width: (($cols/12)*100+0%);
  text-align: center;
  //can change height
  //can change margin
  border-left: 2px solid black;
  border-right: 2px solid black;

  margin-top: 5px;
}

.col-1 {
  @include col(1);
}

.col-2 {
  @include col(2);
}

.col-3 {
  @include col(3);
}

.col-4 {
  @include col(4);
}

.col-5 {
  @include col(5);
}

.col-6 {
  @include col(6);
}

.col-7 {
  @include col(7);
}

.col-8 {
  @include col(8);
}

.col-9 {
  @include col(9);
}

.col-10 {
  @include col(10);
}

.col-11 {
  @include col(11);
}

.col-12 {
  @include col(12);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  opacity: .8;
  //add all container properties like this!!! it would be a cool mini-css framework!!!
  //do same for items with item properties?
}



body{
  font-size: calc(16px + 1vmax);
  background-color: grey; 
}

.small-screen-stack {
  @media #{$small-screen} {
    width: 100%;
  }
}

.medium-screen-stack {
  @media #{$medium-screen} {
    width: 100%;
  }
}

.large-screen-stack {
  @media #{$large-screen} {
    width: 100%;
  }
}

.extra-large-screen-stack {
  @media #{$extra-large-screen} {
    width: 100%;
  }
}


section{
  visibility: hidden;
  margin: 0 auto;
  width: 90vw;
  margin-top: 50px;
  padding-bottom: 10px;
    box-shadow:  0 0 10px 0px black;
}

figure{
  visibility: hidden;
  margin-top: 50px;
}
.airport-form-row{
  height: 10vh;
  margin-top: 20px;
  @media #{$small-screen}{
    position: absolute;
    bottom: 0;
  }
}
#airport-form-input{
  height: 10vh;
  font-size: 3vh;
   &:valid{
      text-transform: uppercase;
    }

     @media #{$small-screen}{
      height: 10vmax;
  }
}


#airport-form-submit{
  height: 10vh;
  font-size: 3vh;
}

.airport-heading-row{
  justify-content: center;
  visibility: hidden;
}

.cloud-item{
  flex:1;
}

.wind-item{
  flex: 1;
}


.visibility-hidden{
  visibility: hidden; 
}

.display-none{
  display: none;
}

.weather-radar-row{
  justify-content: flex-start;
}

#radar-image{
 width: 293px;
 height: 213px;
cursor: pointer;


}

.double-sized-radar{
  width: 90vw !important;
  height: 65vw !important;
  margin: 0 auto;
}
