@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* { box-sizing: border-box; }


/*custom framework*/
/*breakpoints*/
$small-screen: "(max-width: 576px)";
$medium-screen: "(max-width: 768px)";
$large-screen: "(max-width: 992px)";
$extra-large-screen: "(max-width: 1200px)";

/*makes 12 col layout*/
@mixin col($cols) {
  width: (($cols/12)*100+0%);
  text-align: center;
  /*can change height*/
  /*can change margin*/
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px;
}

.col-1 {
  @include col(1);
}

.col-2 {
  @include col(2);
}

.col-3 {
  @include col(3);
}

.col-4 {
  @include col(4);
}

.col-5 {
  @include col(5);
}

.col-6 {
  @include col(6);
}

.col-7 {
  @include col(7);
}

.col-8 {
  @include col(8);
}

.col-9 {
  @include col(9);
}

.col-10 {
  @include col(10);
}

.col-11 {
  @include col(11);
}

.col-12 {
  @include col(12);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .8;

}

.small-screen-stack {
  @media #{$small-screen} {
    width: 100%;
  }
}

.medium-screen-stack {
  @media #{$medium-screen} {
    width: 100%;
  }
}

.large-screen-stack {
  @media #{$large-screen} {
    width: 100%;
  }
}

.extra-large-screen-stack {
  @media #{$extra-large-screen} {
    width: 100%;
  }
}

/*end custom framework*/


/*colors*/
$background-color: #E0E0E0;
$yellow: hsl(60, 100%, 70%);
$dark-red: darken(red, 20);
$sky-blue: hsla(212, 99%, 73%, 0.5);
$airplane-color: hsl(180, 1%, 23%);
$cloud-color: grey;

/*generic html elements*/
body{
  font-size: calc(16px + 1vmax);
  background-color: grey; 
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  line-height: 1.1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

section{
  visibility: hidden;
  margin: 0 auto;
  width: 90vw;
  margin-top: 50px;
  padding-bottom: 10px;
  box-shadow:  0 0 10px 0px black;
}

figure{
  visibility: hidden;
  margin-top: 50px;
}

/*end generic html elements*/


/*form*/
.airport-form-row{
  height: 10vh;
  margin-top: 20px;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
     @media #{$small-screen}{
      height: 10vmax;
  }
}

#airport-form-input{
  height: 10vh;
  font-size: 3vh;
   &:valid{
      text-transform: uppercase;
    }
     @media #{$small-screen}{
      height: 10vmax;
  }
}

#airport-form-submit{
  height: 10vh;
  font-size: 3vh;
  background-color: gray;
}
/*end form*/

.airport-heading-row{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.cloud-item{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}

.wind-item{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


/*radar and raw report*/
.radar-section{
  border: none;
  box-shadow: none;
}
.weather-radar-row{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  @media #{$small-screen}{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#radar-image{
 width: 293px;
 height: 213px;
cursor: pointer;
align-self: flex-start;
}

.double-sized-radar{
  width: 90vw !important;
  height: 65vw !important;
  margin: 0 auto;
}
/*end radar and raw report*/


/*empty-state*/
.sky-container{
  background-color: $sky-blue;
  width: 100vw;
  padding-top: 10px;
}

.cloud-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  color: grey;
  font-size: 10vmax;
  opacity: .5;
}

.cloud-layer-1{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between
}

.sun-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  color: $yellow;
  font-size: 10vmax;
  opacity: .5;
  .sun-icon{
    color: $yellow; 
    text-shadow: 0px 0px 20px $yellow;
  }
  .thermometer-icon{
    color: $dark-red;
    font-size: 5vmax;
  }
}

.airplane-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: .5;
}

.airplane-icon{
  color: $airplane-color;
  font-size: 7vmax !important;
  margin-left: 20vw;
  margin-right: 20vw;
  line-height: 0 !important;
}

.rain-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: .5;

}

.rain-container-1{
  -ms-flex-pack: distribute;
      justify-content: space-around;
  
}

.rain-container-2{
  -ms-flex-pack: distribute;
      justify-content: space-around;
  
}


.snow-container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.empty-state-heading-row{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vh;
}

.empty-state-p-row{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
}
/*end empty-state*/


/*manipulator classes*/
.visibility-hidden{
  visibility: hidden; 
}

.display-none{
  display: none;
}
