@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* {
  box-sizing: border-box; }

.col-1 {
  width: 8.33333%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-2 {
  width: 16.66667%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-3 {
  width: 25%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-4 {
  width: 33.33333%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-5 {
  width: 41.66667%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-6 {
  width: 50%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-7 {
  width: 58.33333%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-8 {
  width: 66.66667%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-9 {
  width: 75%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-10 {
  width: 83.33333%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-11 {
  width: 91.66667%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.col-12 {
  width: 100%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 5px; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  opacity: .8; }

body {
  font-size: calc(16px + 1vmax);
  background-color: grey; }

@media (max-width: 576px) {
  .small-screen-stack {
    width: 100%; } }

@media (max-width: 768px) {
  .medium-screen-stack {
    width: 100%; } }

@media (max-width: 992px) {
  .large-screen-stack {
    width: 100%; } }

@media (max-width: 1200px) {
  .extra-large-screen-stack {
    width: 100%; } }

section {
  visibility: hidden;
  margin: 0 auto;
  width: 90vw;
  margin-top: 50px;
  padding-bottom: 10px;
  box-shadow: 0 0 10px 0px black; }

figure {
  visibility: hidden;
  margin-top: 50px; }

.airport-form-row {
  height: 10vh;
  margin-top: 20px; }
  @media (max-width: 576px) {
    .airport-form-row {
      position: absolute;
      bottom: 0; } }

#airport-form-input {
  height: 10vh;
  font-size: 3vh; }
  #airport-form-input:valid {
    text-transform: uppercase; }
  @media (max-width: 576px) {
    #airport-form-input {
      height: 10vmax; } }

#airport-form-submit {
  height: 10vh;
  font-size: 3vh; }

.airport-heading-row {
  justify-content: center;
  visibility: hidden; }

.cloud-item {
  flex: 1; }

.wind-item {
  flex: 1; }

.visibility-hidden {
  visibility: hidden; }

.display-none {
  display: none; }

.weather-radar-row {
  justify-content: flex-start; }

#radar-image {
  width: 293px;
  height: 213px;
  cursor: pointer; }

.double-sized-radar {
  width: 90vw !important;
  height: 65vw !important;
  margin: 0 auto; }

body {
  background-color: #E0E0E0; }

.sky-container {
  background-color: rgba(118, 182, 254, 0.5);
  width: 100vw;
  padding-top: 10px; }

.cloud-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  color: grey;
  font-size: 10vmax;
  opacity: .5; }

.cloud-layer-1 {
  justify-content: space-between; }

.sun-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  color: #ffff66;
  font-size: 10vmax;
  opacity: .5; }
  .sun-container .sun-icon {
    color: #ffff66;
    text-shadow: 0px 0px 20px #ffff66; }
  .sun-container .thermometer-icon {
    color: #990000;
    font-size: 5vmax; }

.airplane-container {
  display: flex;
  justify-content: flex-start;
  opacity: .5; }

.airplane-icon {
  color: #3a3b3b;
  font-size: 7vmax !important;
  margin-left: 20vw;
  margin-right: 20vw;
  line-height: 0 !important; }

.rain-container {
  display: flex;
  justify-content: space-between;
  opacity: .5; }

.rain-container-2 {
  justify-content: space-around; }

.rain-container-1 {
  justify-content: space-around; }

.snow-container {
  display: flex;
  justify-content: space-between; }

.airport-form-row {
  height: 10vh;
  margin-top: 20px;
  justify-content: center; }

#airport-form-input {
  height: 10vh;
  font-size: 3vh; }
  #airport-form-input:valid {
    text-transform: uppercase; }
  @media (max-width: 576px) {
    #airport-form-input {
      height: 10vmax; } }

#airport-form-submit {
  height: 10vh;
  background-color: gray; }

.empty-state-heading-row {
  justify-content: center;
  margin-top: 3vh; }

.empty-state-p-row {
  justify-content: center;
  line-height: 1.5; }

/*# sourceMappingURL=style.css.map */
